
<!DOCTYPE html>
<html>
  <head>
    <title>Jitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- D3 -->
    <script src="https://d3js.org/d3.v5.min.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

    <!-- Application Code -->
    <script src="data/example-CR21S.json"></script>
    <script src="js/Chart.js"></script>
    <script src="js/RecoveryCycle.js"></script>
    <script src="js/ThresholdElectrotonus.js"></script>

    <style type="text/css">
      .line {
        fill: none;
        stroke: steelblue;
        stroke-width: 2px;
      }
      .meanline {
        fill: none;
        stroke: darkgrey;
        stroke-width: 1px;
      }
      .confidenceinterval  {
        fill: lightgrey;
      }
    </style>

    <script>
      function toggle(id) {
        $(id + " .measures").toggleClass("d-none d-sm-flex")
      }
    </script>
  </head>
  <body class="bg-light">
    <div class="alert alert-success">
      <h1>Jitter - Nerve Data Explorer</h1>
      <div>Developed by <a href="https://bellstone.ca">Bellstone Engineering</a> for (Dr. Jones' lab link).</div>
    </div>
    <div class="card-group">
      <div class="card">
        <div class="card-header">Filter</div>
        <div class="card-body row">
          <div>
            <label>Sex:</label>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <label class="btn btn-secondary active"> <input type="radio" name="options" id="option1" autocomplete="off" checked> Any </label>
              <label class="btn btn-secondary"> <input type="radio" name="options" id="option2" autocomplete="off"> Male </label>
              <label class="btn btn-secondary"> <input type="radio" name="options" id="option3" autocomplete="off"> Female </label>
            </div>
          </div>
          <div class="">
            <label>Age:</label>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <label class="btn btn-secondary active"> <input type="radio" name="options" id="option1" autocomplete="off" checked> Any </label>
              <label class="btn btn-secondary"> <input type="radio" name="options" id="option2" autocomplete="off"> 10 - 20 </label>
              <label class="btn btn-secondary"> <input type="radio" name="options" id="option2" autocomplete="off"> 20 - 30 </label>
              <label class="btn btn-secondary"> <input type="radio" name="options" id="option2" autocomplete="off"> 30 - 45 </label>
              <label class="btn btn-secondary"> <input type="radio" name="options" id="option2" autocomplete="off"> 45 - 65 </label>
              <label class="btn btn-secondary"> <input type="radio" name="options" id="option2" autocomplete="off"> 65+ </label>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">Participant: CH215</div>
        <div class="card-body">
              Nerve Health: Good
              <button class="btn btn-secondary float-right">Change...</button>
        </div>
      </div>
    </div>
    <div class="card-columns">

      <div id="recoveryCycle" class="card border-success">
        <div class="card-header bg-success text-white">Recovery Cycle</div>
        <div class="card-body"><svg style="background-color: white; width: 100%" viewbox="30 -30 600 300"></svg></div>
        <ul class="list-group list-group-flush d-sm-flex d-md-none measures">
          <li class="list-group-item bg-light">
            Discrete Measures
            <button onclick="toggle('#recoveryCycle')" class="btn btn-sm float-right">Show</button>
          </li>
        </ul>
        <ul class="list-group list-group-flush d-none d-md-flex measures">
          <li class="list-group-item bg-light">
            Discrete Measures
            <button onclick="toggle('#recoveryCycle')" class="btn btn-sm float-right d-md-none">Hide</button>
          </li>
          <li class="list-group-item">RRP (ms): 3.407
          <li class="list-group-item">Superexcitability (%): -23.58
          <li class="list-group-item">Subexcitability (%): 10.81
          <li class="list-group-item">Refractoriness at 2.5ms (%): 50
          <li class="list-group-item">Refractoriness at 2 ms (%): 100
          <li class="list-group-item">Superexcitability at 7 ms (%): -24.25
          <li class="list-group-item">Superexcitability at 5 ms (%): -22.24
        </ul>
      </div>

      <div id="thresholdElectrotonus" class="card border-danger">
        <div class="card-header bg-danger text-white">Threshold Electrotonus</div>
        <div class="card-body"><svg style="background-color: white; width: 100%" viewbox="30 -30 600 300"></svg></div>
        <ul class="list-group list-group-flush d-sm-flex d-md-none measures">
          <li class="list-group-item bg-light">
            Discrete Measures
            <button onclick="toggle('#thresholdElectrotonus')" class="btn btn-sm float-right">Show</button>
          </li>
        </ul>
        <ul class="list-group list-group-flush d-none d-md-flex measures">
          <li class="list-group-item bg-light">
            Discrete Measures
            <button onclick="toggle('#thresholdElectrotonus')" class="btn btn-sm float-right d-md-none">Hide</button>
          </li>
          <li class="list-group-item">TEh(90-100ms): -99.21</li>
          <li class="list-group-item">TEh(10-20ms): -64.19</li>
          <li class="list-group-item">TEh(overshoot): 10.7</li>
          <li class="list-group-item">TEh(20-40ms): -78.66</li>
          <li class="list-group-item">TEh(slope 101-140ms): 1.579</li>
          <li class="list-group-item">TEd40(Accom): 19.6</li>
        </ul>
      </div>

      <div id="chargeDuration" class="card border-success">
        <div class="card-header bg-success text-white">Charge Duration</div>
        <div class="card-body"><img src="QT.png" style="width:100%;"></div>
        <ul class="list-group list-group-flush d-sm-flex d-md-none measures">
          <li class="list-group-item bg-light">
            Discrete Measures
            <button onclick="toggle('#chargeDuration')" class="btn btn-sm float-right">Show</button>
          </li>
        </ul>
        <ul class="list-group list-group-flush d-none d-md-flex measures">
          <li class="list-group-item bg-light">
            Discrete Measures
            <button onclick="toggle('#chargeDuration')" class="btn btn-sm float-right d-md-none">Hide</button>
          </li>
          <li class="list-group-item">Measures here</li>
        </ul>
      </div>

      <div id="currentVoltage" class="card border-success">
        <div class="card-header bg-success text-white">Current/Voltage</div>
        <div class="card-body"><img src="IV.png" style="width:100%;"></div>
        <ul class="list-group list-group-flush d-sm-flex d-md-none measures">
          <li class="list-group-item bg-light">
            Discrete Measures
            <button onclick="toggle('#currentVoltage')" class="btn btn-sm float-right">Show</button>
          </li>
        </ul>
        <ul class="list-group list-group-flush d-none d-md-flex measures">
          <li class="list-group-item bg-light">
            Discrete Measures
            <button onclick="toggle('#currentVoltage')" class="btn btn-sm float-right d-md-none">Hide</button>
          </li>
          <li class="list-group-item">Measures here</li>
        </ul>
      </div>

      <div id="stimulusResponseRelative" class="card border-success">
        <div class="card-header bg-success text-white">Stimulus Response (Relative)</div>
        <div class="card-body"><img src="SRRel.png" style="width:100%;"></div>
        <ul class="list-group list-group-flush d-sm-flex d-md-none measures">
          <li class="list-group-item bg-light">
            Discrete Measures
            <button onclick="toggle('#stimulusResponseRelative')" class="btn btn-sm float-right">Show</button>
          </li>
        </ul>
        <ul class="list-group list-group-flush d-none d-md-flex measures">
          <li class="list-group-item bg-light">
            Discrete Measures
            <button onclick="toggle('#stimulusResponseRelative')" class="btn btn-sm float-right d-md-none">Hide</button>
          </li>
          <li class="list-group-item">Measures here</li>
        </ul>
      </div>

      <div id="stimulusResponse" class="card border-success">
        <div class="card-header bg-success text-white">Stimulus Response</div>
        <div class="card-body"><img src="SR.png" style="width:100%;"></div>
        <ul class="list-group list-group-flush d-sm-flex d-md-none measures">
          <li class="list-group-item bg-light">
            Discrete Measures
            <button onclick="toggle('#stimulusResponse')" class="btn btn-sm float-right">Show</button>
          </li>
        </ul>
        <ul class="list-group list-group-flush d-none d-md-flex measures">
          <li class="list-group-item bg-light">
            Discrete Measures
            <button onclick="toggle('#stimulusResponse')" class="btn btn-sm float-right d-md-none">Hide</button>
          </li>
          <li class="list-group-item">Measures here</li>
        </ul>
      </div>
    </div>

    <script>
      var rc = new RecoveryCycle(data.plots[7].data)
      rc.draw(d3.select("#recoveryCycle svg"), true)

      var te = new ThresholdElectrotonus(data.plots[2].data, data.plots[3].data, data.plots[4].data, data.plots[5].data)
      te.draw(d3.select("#thresholdElectrotonus svg"), true)
    </script>
  </body>
</html>
